*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 0px;
    margin: 0px;
}

html{
    height: calc(100%-100px);
    width: 100%;
}

body{
    background-color: rgb(234, 234, 234);
    height: calc(100%-100px);
    width: 100%;
    padding-top: 3.5%;
    overflow: hidden;
}

.user{
    background-color: #2a9d90;
    color: white;
    padding: 20px 40px;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.user:hover{
    background-color: #48ACA1;
    cursor: pointer;
}

#btn-add-user{
    background-color:#f4a462;
    padding: 20px;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

#btn-add-user:hover{
    background-color: #F9AF72;
    cursor: pointer;
}

/* .pregunta{
    font-size: 30px;
    margin-bottom: 40px;
    background-color: #2a9d90;
    padding: 20px;
    color: white;
    border-radius: 20px;
} */

/* .options{
    list-style-type: none;
} */

/* .option{
    color: white;
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    background-color: #e76e50;
    border-style: none;
    border-radius: 20px;
} */

#content{
    display: flex;
    transition: transform 1.5s;
}

.screen{
    flex-shrink: 0;
    padding-left: 100px;
    padding-right: 100px;
    width: calc(100vw - 200px);
}

#quizz-time{
    font-size: 40px;
    text-align: center;
    margin-bottom: 0px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #1e3f66;
    color: white;
    border-radius: 20px;
    padding: 20px;
}

.indicacion{
    text-align: center;
    font-size: 20px;
    padding: 20px;
    margin-bottom: 30px;
}

#users{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: transform 2s;
}

#new-user{
    padding: 20px;
    background-color: #f4a462;
    font-size: 20px;
    color: white;
    border-style: none;
    border-radius: 20px;
}

#btn-how-to-play:hover{
    background-color: #345071;
    cursor: pointer;
}

#h-htpq{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}

#rules{
    list-style: none;
}

#rules > li{
    font-size: 20px;
    margin-bottom: 15px;
    text-align: center;
    background-color: #e76e50;
    padding: 15px;
    color: white;
    border: none;
    border-radius: 20px;
}

.nav-container {
    text-align: center;
}

.nav-screens{
    display: inline-flex;
}

.nav-screen-item{
    padding: 20px;
    background-color: #e76e50;
    font-size: 20px;
    color: white;
    border: none;  
}

.nav-screen-item:hover{
    background-color: #EE7F64;
    cursor: pointer;
}

#first-btn{
    border-bottom-left-radius: 10px;
}

#last-btn{
    border-bottom-right-radius: 10px;
}

#clasification{
    display: flex;
    flex-direction: row;
}

#no-podio{
    margin-right: 20vw;
    width: 10vw;
}

#no-podio > ol{
    font-size: 20px;
    font-weight: 600;
}

.podio{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.lugar-podio{
    width: 150px;
    display: flex;
    flex-direction: column;
    background-color: #EABE3F;
    font-size: 20px;
    color: white;
    text-align: center;
    padding-top: 20px;
}

.medalla{
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
}

#second-place{
    height: 300px;
    border-top-left-radius: 20px;
}

#first-place{
    height: 350px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#third-place{
    height: 250px;
    border-top-right-radius: 20px;
}

#screen-team{
    padding-top: 50px;
    font-size: 20px;
    text-align: center;
}

#screen-team > p{
    margin-bottom: 20px;
}

.input-nombre{
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    width: 80%;
    bottom: 100px;
    margin-right: 10px;
    border-style: solid;
}

.input-name-container{
    display: flex;
    position: absolute;
    left: 35%;
    right: 35%;
    bottom: 100px;
    width: 30%;
}

#btn-submit-name{
    background-color: #1e3f66;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
    margin-right: 10px;
}

#btn-cancel-name{
    background-color: #e76e50;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    font-size: 15px;
}

#btn-submit-name:hover{
    cursor: pointer;
    background-color: #345071;
}

#btn-cancel-name:hover{
    cursor: pointer;
    background-color: #EE7F64;
}